

.svenskaMeny {
    width: 176px;
    margin-top:100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  #svMenyli{
    float: left;
  }
  
 #svMenyli a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #svMenyli a:hover {
    background-color: #b10000;
  } 
  /* Ändrar bakgrundsfärgen när man hovrar över någon av länkarna. */
  
.svenska{
    background-color: rgb(125,0,0);
    color:#ffffff;
}
  